.ui_navbar{
  @include wrapper-full();
  @include shadow(smalle);
  background: $color-secondary-1-4;
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &:before{
    content: '';
    background: url('../statics/images/icon_ico.png') no-repeat center center;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin: 4px;
  }

  & a{
    color: white;
  }

  &_item{
    padding: 8px;
    cursor: pointer;
    transition: 20ms;

    &:hover{
      background: $color-secondary-1-3;
    }
  }
}