.ui_navbar {
  background: rgba(240, 240, 240, 0.1);
  color: black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  & * {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  & a {
    color: white;
  }

  &_item {
    position: relative;
    padding: 8px;
    cursor: pointer;
    transition: 20ms;
  }

  & .fa-ellipsis-v {
    padding: 5px 5px 5px 20px;
  }
}

.ui_submenu {
  &-open {
    position: absolute;
    color: $color-secondary-2-3;
    font-weight: bold;
    background:lighten($color-secondary-2-1, 20%);
    @include shadow(middle);
    border-radius: 4px;
    margin-top: 9px;
    overflow: hidden;
    right: 4px;

    .ui_navbar_submenu_item {
      font-size: 1rem;
      transition: background 200ms;
      padding: 6px;

      &:hover {
        background: rgba($color-secondary-2-1, 1);
      }
    }
  }

  &-close {
    display: none;
  }
}

.bs_label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  @include sm-block() {
    margin: auto;
  }

  & * {
    margin: 4px;
  }

  & p {
    font-size: 1.4rem;
    font-weight: bold;
    color: darken($color-primary-0, 15%);
  }
}

.bs_icon {
  height: 45px;
}


.ui_sidebar_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & .ui_sidebar{
    transition: margin-left 300ms;
    flex-basis: 200px;
    margin-left: 0;
    flex-shrink: 0;
  }

  & .ui_sidebar-close{
    margin-left: -210px;
  }

  & .ui_content {
    flex-grow: 1;
    @include xs-block() {
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }
}

.ui_sidebar{
  padding: 5px;
  overflow: hidden;

  &_item{
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border-radius: 4px;
    margin-bottom: 4px;
    padding: 6px;

    &-select{
      color: $color-primary-3;
      background: rgba($color-primary-1,  0.2);
    }
  }

}



